$black: #000;
$grey-light: #eee;
$grey-dark: #333;

* {
  font-family: 'Barlow', sans-serif;
}

body {
  padding: 10px;
  font-size: 24px;
  text-align: center;
  background-color: $grey-light;
}

div {
  max-width: 800px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

hr {
  border-color: $grey-dark;
  border-style: solid;
  border-width: 1px 0 0;
}

a {
  color: $grey-dark;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $black;
    text-decoration: underline;
  }
}
